frontend https-in
    bind *:443
    mode tcp
    tcp-request inspect-delay 5s
    tcp-request content accept if { req_ssl_hello_type 1 }   
    use_backend proxy-domain-1 if { req_ssl_sni -i domain-1.com }
    use_backend proxy-domain-2 if { req_ssl_sni -i domain-2.com }
    
backend proxy-domain-1
    mode tcp
    server loopback-for-tls abns@haproxy-domain-1 send-proxy-v2
    
backend proxy-domain-2
    mode tcp
    server loopback-for-tls abns@haproxy-domain-2 send-proxy-v2
    
frontend https-1
    mode http
    bind abns@haproxy-domain-1 accept-proxy ssl /path/to/domain-1.pem force-tlsv12 
    reqadd X-Forwarded-Proto:\ https

    # Let the letsencrypt backend handle requests to the
    # acme-challenge url
    acl letsencrypt-req path_beg /.well-known/acme-challenge/
    use_backend letsencrypt if letsencrypt-req

    use_backend backend-1
    
frontend https-2
    mode http    
    bind abns@haproxy-domain-2 accept-proxy ssl /path/to/domain-2.pem force-tlsv12

    reqadd X-Forwarded-Proto:\ https

    # Let the letsencrypt backend handle requests to the
    # acme-challenge url
    acl letsencrypt-req path_beg /.well-known/acme-challenge/
    use_backend letsencrypt if letsencrypt-req

    use_backend backend-2
    
backend backend-1
    mode http
    server server1 192.168.0.101:3000
    
backend backend-2
    mode http
    server server2 192.168.0.102:3000