userlist default-haproxy-dataplane
    user "$HAPROXY_DATAPLANE_USER" insecure-password "$HAPROXY_DATAPLANE_PASS"
    user static insecure-password static


defaults default
    # Setup arbitrary default timeouts, changable in interface
    timeout connect 5s
    timeout client 5s
    timeout server 5s

    # Setup default logging
    log global

global
    # Enable runtime api for dataplaneapi
    stats socket /run/haproxy.sock mode 666 level admin

    # Use master-worker mode
    #master-worker #no-exit-on-failure

    # enable a pidfile for dataplane's abilty to restart
    pidfile /run/haproxy.pid

    # setup default logging
    log stdout format timed local0

frontend frontend_default
    bind :80
    mode http
    default_backend backend_hello_world

backend backend_hello_world
    mode http
    http-request return content-type "text/plain" string "Hello World!"

backend letsencrypt
   server letsencrypt 127.0.0.1:9785